<section data-section-id="3" data-component-id="73a6_8_02_awz" data-category="pricing" class="py-8 px-4">
    <div class="flex flex-wrap -mx-8 text-center">
        <div class="w-full md:w-1/2 p-8 mb-4 md:mb-0">
            <h3 class="text-5xl font-heading">Jasa Web/Aplikasi</h3>
            <p class="flex-grow mt-4 mb-6 text-gray-500 leading-relaxed" data-config-id="col1-desc">Ana menawarkan jasa
                pembuatan website, aplikasi, sistem informasi atau sejenisnya, barangkali diantara antum ada yang
                membutuhkan. In syaa Allah harga bersahabat.</p><a
                class="inline-block py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
                href="#" data-config-id="col1-button">Pesan Website</a>
        </div>
        <div class="w-full md:w-1/2 p-8 mb-4 md:mb-0 md:border-l">
            <h3 class="text-5xl font-heading">Jasa Desain Logo</h3>
            <p class="mt-4 mb-6 text-gray-500 leading-relaxed" data-config-id="col2-desc">Ana juga menawarkan jasa
                pembuatan Logo, game assets (tidak menerima pesanan yang mengandung unsur mahkluk hidup), dengan
                menggunkana inkscape</p><a
                class="inline-block py-4 px-8 leading-none text-white bg-green-400 hover:bg-green-500 rounded shadow"
                href="#" data-config-id="col2-button">Pesan Design</a>
        </div>
    </div>
</section>

<section data-section-id="6" data-component-id="73a6_18_02_awz" data-category="call-to-action" class="px-4 text-center">
    <div class="w-full max-w-2xl mx-auto">
        <p class="mt-6 mb-8 text-gray-500 leading-relaxed" data-config-id="description">Atau antum bisa mengunduh CV ana
            sebagai bahan pertimbangan sebelum menggunakan jasa ana.</p>
        <a class="inline-block py-4 px-8 leading-none text-white bg-purple-400 hover:bg-purple-500 rounded shadow"
            href="#" data-config-id="col2-button">
            <svg class="float-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24">
                <g transform="translate(0, 0)">
                    <path fill="#444444"
                        d="M23,2h-4c0,1.105-0.895,2-2,2s-2-0.895-2-2H9c0,1.105-0.895,2-2,2S5,3.105,5,2H1C0.448,2,0,2.448,0,3v18 c0,0.552,0.448,1,1,1h22c0.552,0,1-0.448,1-1V3C24,2.448,23.552,2,23,2z M8,9c1.105,0,2,0.895,2,2c0,1.105-0.895,2-2,2s-2-0.895-2-2 C6,9.895,6.895,9,8,9z M4,17c0-1.657,1.343-3,3-3h2c1.657,0,3,1.343,3,3H4z M20,16h-6v-2h6V16z M20,12h-6v-2h6V12z">
                    </path>
                </g>
            </svg>
            <span class="float-right mt-1 ml-2 text-gray-800 font-bold">Unduh CV</span>
        </a>

    </div>
</section>